/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Josefin+Sans&family=Nunito&family=Permanent+Marker&family=Raleway:ital,wght@0,400;1,300&display=swap');



.Linkfont {
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
}
.Linkfont:hover {
  filter: brightness(1.2);
}
h1{
  color: #FD461C;

}
.homepagebtn{
  padding: 1em 1em;
  background-color: #7AB0DF;
  color: white;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: medium;
}
.homepagebtn:hover {
  background-color: white;
  color: #7AB0DF;
}
h3{
  color: #343434;
  padding-top: 0.5em;
  margin: 0;
}
.underrubrik{
  color: #343434;
margin-bottom: 2em;
font-family: 'Cormorant Garamond', serif;}

li {
  list-style-type: none;
}
.filterbtn {
  margin: 0.5em 2em;
  background-color: white;
color: #7AB0DF;
  padding: 0.6em;
  border-radius: 8px;
  font-family: 'Josefin Sans', sans-serif;
 border: 1px solid #7AB0DF;
  
}
.filterbtn:hover {
  background-color: #7AB0DF;
  color: white;
  border: 1px solid #7AB0DF;
}
.parentdiv {
  margin: 5em 0;
}
.buybtn {
  background-color: white;
  padding: 0.6em;
  border-radius: 8px;
  font-family: 'Josefin Sans', sans-serif;
  border: 1px solid #343434;
}
.buybtn:hover {
  background-color: #343434;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
